h1{
	border-style:dotted;
	color: #0B0BC6  ;
	padding: 20px;
}
p{
	width: 85%;
}
img{
	float: right;
	height: 150px;
	width: 150px;
	margin-top: 10px;
	margin-right: 20px;
}
video{
	position: center;
	margin-top: 20px;
	margin-left: 25%;
	margin-bottom: 20px;
	height: 180px;
	width: 320px;
}
a{
	margin-left: 35%;
}